body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}
form {
    background: #fff;
    padding: 20px;
    margin: auto;
    width: 300px;
    border-radius: 8px;
}
input[type="text"], input[type="email"], input[type="password"] , input[type="tel"] , select{
    background-color: rgb(111, 19, 249);
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}
input[type="text"], input[type="email"], input[type="password"] , input[type="tel"] , select:hover{
    cursor: cell;
}
button {
    background-color: rgb(111, 19, 249);
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}
button:hover {
    background-color: blue;
    cursor: crosshair;
}
label {
    margin-top: 10px;
    display: block;
}
h1 {
    color: rgb(121, 5, 230);
    justify-content: flex-start;
}

@media (max-width: 600px) {
    form {
    background: #fff;
    padding: 20px;
    margin: auto;
    width: 300px;
    border-radius: 8px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus , input[type="tel"]:focus , select:focus{
    border: 1px solid black;
    outline: none;
}
button {
    background-color: rgb(111, 19, 249);
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}
button:hover {
    background-color: blue;
    cursor: progress;
}
label {
    margin-top: 10px;
    display: block;
}
h1 {
    color: rgb(121, 5, 230);
    justify-content: flex-start;
}
}